doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.min.css')
  body
    block content
    script(src="/javascripts/maps.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJ5_ZPwlIJRNN-770D_KCQx2myywOtTMc&callback=initMap", async, defer)
    
